In [1]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf

In [2]:
# Read in our data
df = pd.read_csv("./Resources/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv")
df.head(10)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1325318220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1325318280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1325318340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1325318400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1325318460,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

In [4]:
df.dtypes

Timestamp              int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtype: object

In [5]:
# Find null values
for column in df.columns:
    print(f'Column {column} has {df[column].isnull().sum()} null values')

Column Timestamp has 0 null values
Column Open has 1243608 null values
Column High has 1243608 null values
Column Low has 1243608 null values
Column Close has 1243608 null values
Column Volume_(BTC) has 1243608 null values
Column Volume_(Currency) has 1243608 null values
Column Weighted_Price has 1243608 null values

In [6]:
df.describe

<bound method NDFrame.describe of           Timestamp      Open      High       Low     Close  Volume_(BTC)  \
0        1325317920      4.39      4.39      4.39      4.39      0.455581
1        1325317980       NaN       NaN       NaN       NaN           NaN
2        1325318040       NaN       NaN       NaN       NaN           NaN
3        1325318100       NaN       NaN       NaN       NaN           NaN
4        1325318160       NaN       NaN       NaN       NaN           NaN
...             ...       ...       ...       ...       ...           ...
4857372  1617148560  58714.31  58714.31  58686.00  58686.00      1.384487
4857373  1617148620  58683.97  58693.43  58683.97  58685.81      7.294848
4857374  1617148680  58693.43  58723.84  58693.43  58723.84      1.705682
4857375  1617148740  58742.18  58770.38  58742.18  58760.59      0.720415
4857376  1617148800  58767.75  58778.18  58755.97  58778.18      2.712831

         Volume_(Currency)  Weighted_Price
0                 2.000000        4.390000
1                      NaN             NaN
2                      NaN             NaN
3                      NaN             NaN
4                      NaN             NaN
...                    ...             ...
4857372       81259.372187    58692.753339
4857373      428158.146640    58693.226508
4857374      100117.070370    58696.198496
4857375       42332.958633    58761.866202
4857376      159417.751000    58764.349363

[4857377 rows x 8 columns]>

In [7]:
df = df.dropna()

In [8]:
df.describe

<bound method NDFrame.describe of           Timestamp      Open      High       Low     Close  Volume_(BTC)  \
0        1325317920      4.39      4.39      4.39      4.39      0.455581
478      1325346600      4.39      4.39      4.39      4.39     48.000000
547      1325350740      4.50      4.57      4.50      4.57     37.862297
548      1325350800      4.58      4.58      4.58      4.58      9.000000
1224     1325391360      4.58      4.58      4.58      4.58      1.502000
...             ...       ...       ...       ...       ...           ...
4857372  1617148560  58714.31  58714.31  58686.00  58686.00      1.384487
4857373  1617148620  58683.97  58693.43  58683.97  58685.81      7.294848
4857374  1617148680  58693.43  58723.84  58693.43  58723.84      1.705682
4857375  1617148740  58742.18  58770.38  58742.18  58760.59      0.720415
4857376  1617148800  58767.75  58778.18  58755.97  58778.18      2.712831

         Volume_(Currency)  Weighted_Price
0                 2.000000        4.390000
478             210.720000        4.390000
547             171.380338        4.526411
548              41.220000        4.580000
1224              6.879160        4.580000
...                    ...             ...
4857372       81259.372187    58692.753339
4857373      428158.146640    58693.226508
4857374      100117.070370    58696.198496
4857375       42332.958633    58761.866202
4857376      159417.751000    58764.349363

[3613769 rows x 8 columns]>

In [12]:
ts = pd.to_datetime(df['Timestamp'], unit='s')
print(ts)

0         2011-12-31 07:52:00
478       2011-12-31 15:50:00
547       2011-12-31 16:59:00
548       2011-12-31 17:00:00
1224      2012-01-01 04:16:00
                  ...
4857372   2021-03-30 23:56:00
4857373   2021-03-30 23:57:00
4857374   2021-03-30 23:58:00
4857375   2021-03-30 23:59:00
4857376   2021-03-31 00:00:00
Name: Timestamp, Length: 3613769, dtype: datetime64[ns]